---
layout: default
---
<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
  <div class="post-block">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <div class="post-meta">
        <span class="post-time">
          <span class="post-meta-item-icon"><i class="fa fa-calendar-o"></i></span>
          <time itemprop="dateCreated" datetime="{{ page.date | date_to_xmlschema }}" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>
        </span>
        {% if page.categories %}
        <span class="post-category">
          <span class="post-meta-divider">|</span>
          <span class="post-meta-item-icon"><i class="fa fa-folder-o"></i></span>
          {% assign cats = page.categories %}
          {% for cat in cats %}<a href="/categories/#{{ cat }}">{{ cat }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
        </span>
        {% endif %}
        {% if page.tags %}
        <span class="post-tags">
          <span class="post-meta-divider">|</span>
          <span class="post-meta-item-icon"><i class="fa fa-tag"></i></span>
          {% for tag in page.tags %}<a href="/tags/#{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
        </span>
        {% endif %}
      </div>
    </header>

    <div class="post-body" itemprop="articleBody">
      {{ content }}
    </div>

    <footer class="post-footer">
      <div class="post-nav">
        {% if page.previous %}
        <div class="post-nav-prev"><a href="{{ page.previous.url }}" rel="prev">← {{ page.previous.title }}</a></div>
        {% endif %}
        {% if page.next %}
        <div class="post-nav-next"><a href="{{ page.next.url }}" rel="next">{{ page.next.title }} →</a></div>
        {% endif %}
      </div>
    </footer>
  </div>
</article>
